@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.Login {
  form {
    position: relative;
    border-top: 1px solid $gray-lighter;
    margin-top: 15px;
    padding-top: 25px;

    .LoginWithEmail {
      display: inline-block;
      background: #fff;
      padding: 0 10px;
      position: absolute;
      top: -12px;
      left: 50%;
      margin-left: -106px;
    }
  }
}
