@import '../../stylesheets/mixins';
@import '../../stylesheets/colors';

.Signup {
  .page-header {
    margin-top: 0;
  }

  form {
    position: relative;
    border-top: 1px solid $gray-lighter;
    margin-top: 15px;
    padding-top: 25px;

    .SignupWithEmail {
      display: inline-block;
      background: #fff;
      padding: 0 10px;
      position: absolute;
      top: -12px;
      left: 50%;
      margin-left: -106px;
    }

    .HaveAnAccount {
      margin-top: 25px;
      padding-top: 20px;
      border-top: 1px solid $gray-lighter;
    }
  }
}

@include breakpoint(tablet) {
  .Signup {
    .page-header {
      margin-top: 10px;
    }
  }
}

@include breakpoint(desktop) {
  .Signup {
    .page-header {
      margin-top: 20px;
    }
  }
}
