@import '../../stylesheets/colors';

.OAuthProfile {
  .LoggedInWith {
    padding: 20px;
    border-radius: 3px;
    color: #fff;
    border: 1px solid $gray-lighter;
    text-align: center;

    img {
      width: 100px;
    }

    &.github img {
      width: 125px;
    }

    p {
      margin: 20px 0 0 0;
      color: $gray-light;
    }

    .btn {
      margin-top: 20px;

      &.btn-facebook {
        background: $facebook;
        border-color: $facebook;
        color: #fff;
      }

      &.btn-google {
        background: $google;
        border-color: $google;
        color: #fff;
      }

      &.btn-github {
        background: $github;
        border-color: $github;
        color: #fff;
      }
    }
  }
}
