$primary: #337ab7;
$success: #5cb85c;
$info:    #5bc0de;
$warning: #f0ad4e;
$danger:  #d9534f;

$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #eee;

$facebook: #3b5998;
$google: #ea4335;
$github: $gray-dark;
